.body-position{
    position: absolute !important;
}

#yt-off-resmenu {
    z-index: 999;
}

.rain_main_ul li.first_level{
	float: left;
	display: block;
	padding:10px 0px;
}
.rain_main_ul { margin:0px; padding:0px 5px; background:#555555; float:left; width:100%;}
.rain_main_ul li a { font-size:15px; font-family:Arial, Helvetica, sans-serif; text-decoration:none;}

li div.first_level_content{
	display: none;	
	z-index: 99999;
	position:absolute;
	background:#10335F;
	top:40px;
	min-width:180px;
}
li div.have-content{
    background:#10335F;    
    min-width:180px;
}


li div.first_level_content{

}
li div.first_level_content ul{margin:0px;padding:0px;}
li div.first_level_content ul li{list-style:none; border-top:#105893 solid 1px; padding:5px 0px;}
li div.first_level_content ul li .rain-link a:hover{color:red;}
li div.first_level_content ul li .rain-link a{padding:5px 10px;}

.have-content{
    display: none;
}

/*
div.display_none{
    display: none;
}
li.link_li:hover div.have-content {
    display: block;
}*/

/* responsive mobile css */

ul.first-ul li {
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
}
ul.first-ul{
    top:40px !important;
    padding-top: 0px !important;
}


.navicon-line {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1px 1px 1px 1px;
    height: 4px;
    margin-bottom: 3px;
    width: 24px;
}
.menu_button{
    background: #333333;    
    padding: 10px 10px  10px 10px ; 
    width: 25px;
    cursor: pointer;
}
.menu_button:hover{
    background-color: rgba(0, 0, 0, 0.6);    
}
.menu_button:hover .navicon-line{
    background: #333333;    
}

.close_button{	
	cursor: pointer;
	float: right;
}

.home_click a{
	color: rgba(255,255,255, 0.6); 
	float: left;
	margin-left: 20px;
	text-decoration: none;
	padding: 10px 10px 10px 10px;
}

.mm-menu li.first_li{	   
   /*border-top: 1px solid rgba(0, 0, 0, 0.15);*/
}

li.active{
    background: #10335F;
    color: #fff;
}
.havechild:hover{
    background: #10335F;   
}
li.active a{color:#FFFFFF;}
.rain_main_ul {position: relative;}
/*#rain_main_ul .havechild{border-right:#1967A1 solid 1px;}*/
#rain_main_ul a:hover,#rain_main_ul a:active,#rain_main_ul a:focus{background:transparent; color:#2B72A9;}
#rain_main_ul, #rain_main_ul li, #rain_main_ul li a{color:#FFFFFF;}
.rain-link a{padding:15px 20px;}
.first_level_content .have-content li a{padding-left:15px !important;}

.sticky_top{position:fixed; top: 0px; width: 100%;}
.sticky_bottom{position:fixed; bottom: 0px; width: 100%;}
.width90{width: 80%; margin:auto;float:none;}

.topFix{position:fixed; top: 0px;z-index: 99999;}
.mobile_sticky{height:41px;}

