.dashboard{margin:0 auto;width:100%;}
.leftpanel{float:left;width:25%;}
.rightpanel{float:left;width:75%;}
.header-leftpanel{padding:5px 5px 5px 5px;margin:5px 5px 0px 5px;background:#d94958;color:#FFFFFF;}
.header-rightpanel{padding:5px 5px 5px 5px;margin:5px 0px 0px 0px;background:#d94958;color:#FFFFFF;}
.workspacelink a{width:70%;color:#d94958 !important;}
.workspacedate {width:30%;}
.data-leftpanel ul{list-style:none;margin:0 5px;padding:5px 0 0 0;border:1px solid #d94958;}
.data-leftpanel ul li {list-style:none;margin:0px;padding:5px;height:10px;clear:both;}
.workspacedate{width:30%;float:right;}
.exploredatalink a{float:right;padding:5px;background:#d94958;color:#FFFFFF !important;text-align:center;height:15px;}


.data-rightpanel ul{list-style:none;margin:0px;padding:5px;border:1px solid #d94958;}
.data-rightpanel li{height:35px;clear:both;}
.data-label{margin-left:5px;font-weight:bold;margin-top:5px;padding-right:5px;width:50%;}
.data-text{width:50%;float:right;}

.createuserlink{color:#d94958 !important;}
